<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= "apnacollege".toUpperCase() // to create dynamic html **Gives output** %></h3>
    <!-- refer ejs.co to see ejs tags -->
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat doloremque nulla corrupti. Praesentium corporis porro consequuntur, id impedit veniam ratione, dolores itaque, eaque perferendis neque repudiandae. Doloremque dignissimos dolorem quod.
    Repudiandae mollitia quidem odit blanditiis architecto repellendus autem illum quod iste accusamus aperiam eligendi, maiores voluptatem placeat quos rem eaque at fugit vero voluptas! Minima dolorem beatae dignissimos deserunt voluptates?</p>
    <button>Click me!</button>
</body>
</html>